@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;

}
body {
    background-image: linear-gradient(to right,#053D38,#34675C,#A3CCAB  );
}
main{
    background-color: #14140F; width: 600px;
    padding: 1px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px black ;
    margin: auto;
}
h1 { color: #F26800;
    text-align: justify;
    text-shadow: 1px 1px 0px  #f29100ad;
}
h2 {
    color: #F26800;
}
p {color: #F26800;
    text-align: justify;
}